body{
	background-color:darkgreen;
	font-family:monospace;
	font-size:20px;
	color:black;
}

.headline_big {
    font-size: 50px;
    text-decoration: underline;
}
.headline {
    font-size: 30px;
}


.normal_text {
 color: black;
font-size:24px;
text-align:justify;
}

a{
	color:gray;
	font-size:20px;
	text-decoration:underline;	
	font-family: ThreeDLightShadow
}

.fotoindex2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px groove #5b3a29
}

.fotoindex3 {
	  border: 4px groove #5b3a29
}